.call{
    width: 1500px;
    height: 100%;

}


.call2{
    width: 800px;
    height: 100%;


 background-color: rgb(250, 146, 10);
   text-align: center;
   margin: auto;
    
}

.sumit20{
    color: white;
    text-align: center;
    background-color: black;
    width: 170px;
    height: 30px;
}


body{
  background-color: rgb(234, 231, 238);
}



.score{
    width: 800px;
    height: 100%;
    background-color: blueviolet;
    position: absolute;left: 360px;
    margin: auto;

}



.score2{
  text-align: center;
  width: 800px;
  height: 800px;
  background-color: blueviolet;
  margin: auto;
  
}